body {
  margin: 0;
}

img {
  width: 100%;
}

h3 {
  color: white;
  font-size: 25px;
  font-family: sans-serif;
}

div {
  text-align: center;
}

.container {
  position: relative;
}

.class_room_1_left {
  background-color: #FF8000;
  width: 152.5px;
  height: 132px;
  position: absolute;
  left: 327px;
  top: 11.3px;
} 

.class_room_1_left:hover{
  background-color:#d64161;
  color:black;
  text-align: center;
  display: inline-block;
  transition-duration: 0.6s;
  cursor: pointer;
}

.class_room_1_right {
  background-color: #FF8000;
  width: 167.5px;
  height: 137.5px;
  position: absolute;
  left: 646.5px;
  top: 9px;
}

.class_room_1_right:hover{
  background-color:#d64161;
  color:black;
  text-align: center;
  display: inline-block;
  transition-duration: 0.6s;
  cursor: pointer;
}

.board{
  background-color: floralwhite;
  width: 33.1%;
  padding-top: 25px;
  font-family: sans-serif;
  font-size: 50px;
  border:8px solid black;
  height: 22.5%;
  position: absolute;
  left: 1000px;
  top:1px;
}

.board:hover{
  background-color: blueviolet;
  color:white;
  text-align: center;
  display: inline-block;
  transition-duration: 0.6s;
  cursor: pointer;
}

.time{
  background-color:mediumslateblue;
  color:whitesmoke;
  width: 33.1%;
  padding-top: 40px;
  font-family: arial;
  font-size: 25px;
  font-weight: bold;
  border:8px solid black;
  border-radius: 5px;
  height: 13.5%;
  position: absolute;
  left: 1000px;
  top:300px;
}

.time:hover{
  background-color:navajowhite;
  color:black;
  text-align: center;
  display: inline-block;
  transition-duration: 0.6s;
  cursor: pointer;
}

.class_room_2_left {
  background-color: #FF8000;
  width: 152.4px;
  height: 147.2px;
  position: absolute;
  left: 328px;
  top: 152.3px;
}

.class_room_2_left:hover{
  background-color:#d64161;
  color:black;
  text-align: center;
  display: inline-block;
  transition-duration: 0.6s;
  cursor: pointer;
}

.class_room_2_right {
  background-color: #FF8000;
  width: 167.5px;
  height: 142.2px;
  position: absolute;
  left: 646.5px;
  top: 154.5px;
}

.class_room_2_right:hover{
  background-color:#d64161;
  color:black;
  text-align: center;
  display: inline-block;
  transition-duration: 0.6s;
  cursor: pointer;
}

.class_room_3 {
  background-color: #FF8000;
  width: 152.4px;
  height: 139px;
  position: absolute;
  left: 328px;
  top: 307.5px;
}

.class_room_3:hover{
  background-color:#d64161;
  color:black;
  text-align: center;
  display: inline-block;
  transition-duration: 0.6s;
  cursor: pointer;
}

.wash_room {
  background-color: #996633;
  width: 155px;
  height: 122px;
  position: absolute;
  left: 325.5px;
  top: 550px;
}

.wash_room:hover{
  background-color:  #bc5a45;
  color:black;
  text-align: center;
  display: inline-block;
  transition-duration: 0.6s;
  cursor: pointer;
}

.open_space {
  background-color: #89e543;
  width: 268px;
  height: 238px;
  position: absolute;
  left: 644.4px;
  top: 548px;
}

.open_space:hover{
  background-color: #82b74b;
  color:black;
  text-align: center;
  display: inline-block;
  transition-duration: 0.6s;
  cursor: pointer;
}

.button{
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  transition-duration: 0.6s;
  cursor: pointer;
}

.stairs_1 {
  background-color: red;
  width: 154px;
  height: 86.3px;
  position: absolute;
  left: 327px;
  top: 455.4px;
}

.stairs_1:hover{
  background-color: #7a3b2e;
  color:black;
    text-align: center;
    display: inline-block;
    transition-duration: 0.6s;
    cursor: pointer;
  
  }

.stairs_1_button {
  background-color: white; 
  border: 2px solid #f44336;
  border-radius:15px;
  width: 65%;
  height:25px;
  position: absolute;
  left: 28px;
  bottom: 10px;
}

.stairs_1_button:hover {
  background-color: greenyellow;
  color: white;
}

.stairs_2 {
  background-color: red;
  width: 94.5px;
  height: 141.5px;
  position: absolute;
  left: 740px;
  top: 876.4px;
}

.stairs_2:hover{
  background-color: #7a3b2e;
  color:black;
    text-align: center;
    display: inline-block;
    transition-duration: 0.6s;
    cursor: pointer;
  
  }

.stairs_2_button {
  background-color: white; 
  border: 2px solid #f44336;
  border-radius:15px;
  width: 65%;
  height:55px;
  position: absolute;
  left: 20px;
  bottom: 25px;
}

.stairs_2_button:hover {
  background-color:greenyellow;
}

.lab {
  background-color: #4285F4;
  width: 167.5px;
  height: 237.5px;
  position: absolute;
  left: 646.5px;
  top: 304.5px;
}

.lab:hover{
  background-color: #4040a1;
  color:black;
    text-align: center;
    display: inline-block;
    transition-duration: 0.6s;
    cursor: pointer; 
}

.examination_section {
  background-color: #4285F4;
  width: 180.5px;
  height: 142px;
  position: absolute;
  left: 844.5px;
  top: 876.3px;
}

.examination_section:hover{
  background-color: #4040a1;
  color:black;
    text-align: center;
    display: inline-block;
    transition-duration: 0.6s;
    cursor: pointer; 
}

.academic_section {
  background-color: #4285F4;
  width: 243.5px;
  height: 142px;
  position: absolute;
  left: 1031.5px;
  top: 876.3px;
}

.academic_section:hover{
  background-color: #4040a1;
  color:black;
    text-align: center;
    display: inline-block;
    transition-duration: 0.6s;
    cursor: pointer; 
}

.conference_room {
  background-color: #4285F4;
  width: 356px;
  height: 226px;
  position: absolute;
  left: 921px;
  top: 559.5px;
}

.conference_room:hover{
  background-color: #4040a1;
  color:black;
    text-align: center;
    display: inline-block;
    transition-duration: 0.6s;
    cursor: pointer; 
}

.staff_room {
  background-color: #4285F4;
  width: 156.5px;
  height: 242.7px;
  position: absolute;
  left: 324.5px;
  top: 678px;
}

.staff_room:hover{
  background-color: #4040a1;
  color:black;
    text-align: center;
    display: inline-block;
    transition-duration: 0.6s;
    cursor: pointer; 
}